# ------------------------------------------------------------------------------------
# <copyright company="Aspose Pty Ltd" file="{{gemName}}.rb">
#   Copyright (c) 2018 GroupDocs.Storage for Cloud
# </copyright>
# <summary>
#   Permission is hereby granted, free of charge, to any person obtaining a copy
#  of this software and associated documentation files (the "Software"), to deal
#  in the Software without restriction, including without limitation the rights
#  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
#  copies of the Software, and to permit persons to whom the Software is
#  furnished to do so, subject to the following conditions:
# 
#  The above copyright notice and this permission notice shall be included in all
#  copies or substantial portions of the Software.
# 
#  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
#  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
#  SOFTWARE.
# </summary>
# ------------------------------------------------------------------------------------

# Common files
require_relative '{{gemName}}/api_client'
require_relative '{{gemName}}/api_error'
require_relative '{{gemName}}/version'
require_relative '{{gemName}}/configuration'

# Models
{{#models}}
{{#model}}require_relative '{{gemName}}/{{modelPackage}}/{{classVarName}}'{{/model}}
{{/models}}

# APIs
{{#apiInfo}}
{{#apis}}
require_relative '{{gemName}}/api/{{classVarName}}_api'
{{/apis}}
{{/apiInfo}}

module {{moduleName}}
  # Main module
  class << self
    # Configure sdk using block.
    # {{moduleName}}.configure do |config|
    #   config.username = "xxx"
    #   config.password = "xxx"
    # end
    # If no block given, return the configuration singleton instance.
    def configure
      if block_given?
        yield Configuration.default
      else
        Configuration.default
      end
    end
  end
end